{% extends layout %}
{% block content %}
  
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
      <h1>{{message}}</h1>
      {%if title != "info"%}
       <img src="img/avis.jpg" alt="[ABC]" height="300px" width="80%"/>
       {%endif%}

    </div>
    <div class="col-3"></div>

  </div>

 
{% endblock %}
